In [14]:
import pandas as pd
import requests

In [15]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [24]:
response

In [16]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [17]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,198.976,8.707,27154
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,211.304,8.700,20620
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,91.796,8.600,12430
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,97.275,8.565,15840
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,71.308,8.500,8647

In [19]:
df

Empty DataFrame
Columns: []
Index: []

In [26]:
df_list = []
for i in range(1, 429):  # Assuming there are 427 pages
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}')
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)

print(df.head())

    id                     title  \
0  278  The Shawshank Redemption
1  238             The Godfather
2  240     The Godfather Part II
3  424          Schindler's List
4  389              12 Angry Men

                                            overview release_date  popularity  \
0  Imprisoned in the 1940s for the double murder ...   1994-09-23     198.976
1  Spanning the years 1945 to 1955, a chronicle o...   1972-03-14     211.304
2  In the continuing saga of the Corleone crime f...   1974-12-20      91.796
3  The true story of how businessman Oskar Schind...   1993-12-15      97.275
4  The defense and the prosecution have rested an...   1957-04-10      71.308

   vote_average  vote_count
0         8.707       27154
1         8.700       20620
2         8.600       12430
3         8.565       15840
4         8.500        8647

In [21]:
# Check the shape of the dataframe to ensure data is appended correctly
df.shape

(0, 0)

In [27]:
df.to_csv('movies.csv')